<!DOCTYPE html>
<html amp lang="en">

<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    {{{_sections.head}}}
</head>

<body>
    {{{body}}}
</body>

</html>
